@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --color-turing-blue: blue;
  --color-turing-red: red;
  --color-bg: black;
  --color-bg-lighter: #171717;
  --color-primary: #ffffffaf;
  --color-prominent: white;
  --color-less-prominent: #949494;
  --color-muted: #4a4a4a72;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-side: var(--spacing-4);
  --width-max: 1200px;
  --b-radius: 4px;
  --b-width: 1px;
}

@media only screen and (min-width: 720px) {
  :root {
    --spacing-side: var(--spacing-8);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 112.5%; /* 18px */
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  line-height: 1.3;
  color: var(--color-prominent);
  margin: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: var(--spacing-8);
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
  margin-bottom: var(--spacing-8);
}

h3 {
  font-size: 1.424rem;
  margin-bottom: var(--spacing-6);
}

h4 {
  font-size: 1.266rem;
  margin: 0 0 var(--spacing-4);
}

h5 {
  font-size: 1.125rem;
  margin: 0 0 var(--spacing-2);
}

small {
  font-size: 0.889rem;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  transition: background-color 200ms ease;
}

a:visited {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: var(--color-prominent);
}

label {
  display: block;
  color: var(--color-prominent);
  font-weight: 500;
  font-size: 0.889rem;
  margin-bottom: var(--spacing-1);
}

input,
select {
  width: 100%;
  padding: var(--spacing-3) var(--spacing-4);
  color: var(--color-primary);
  background-color: var(--color-bg);
  border: 1px solid var(--color-muted);
  border-radius: var(--b-radius);
  transition: border 200ms ease, outline 200ms ease;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary);
  border: var(--b-width) solid var(--color-primary);
}

.input-group {
  margin-bottom: var(--spacing-4);
}

/* Utils */
.h1-size {
  font-size: 1.802rem;
}

.h2-size {
  font-size: 1.602rem;
}

.h3-size {
  font-size: 1.424rem;
}

.h4-size {
  font-size: 1.266rem;
}

.h5-size {
  font-size: 1.125rem;
}

.text-prominent {
  color: var(--color-prominent);
}

.small-size {
  font-size: 0.889rem;
}

img.img--cover {
  object-fit: cover;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: var(--spacing-1);
}
.mt-2 {
  margin-top: var(--spacing-2);
}
.mt-3 {
  margin-top: var(--spacing-3);
}
.mt-4 {
  margin-top: var(--spacing-4);
}
.mt-5 {
  margin-top: var(--spacing-5);
}
.mt-6 {
  margin-top: var(--spacing-6);
}
.mt-7 {
  margin-top: var(--spacing-7);
}
.mt-8 {
  margin-top: var(--spacing-8);
}

.mb-1 {
  margin-bottom: var(--spacing-1);
}
.mb-2 {
  margin-bottom: var(--spacing-2);
}
.mb-3 {
  margin-bottom: var(--spacing-3);
}
.mb-4 {
  margin-bottom: var(--spacing-4);
}
.mb-5 {
  margin-bottom: var(--spacing-5);
}
.mb-6 {
  margin-bottom: var(--spacing-6);
}
.mb-7 {
  margin-bottom: var(--spacing-7);
}
.mb-8 {
  margin-bottom: var(--spacing-8);
}

.my-1 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
.my-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
.my-3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
.my-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
.my-5 {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}
.my-6 {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}
.my-7 {
  margin-top: var(--spacing-7);
  margin-bottom: var(--spacing-7);
}
.my-8 {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.mr-1 {
  margin-right: var(--spacing-1);
}
.mr-2 {
  margin-right: var(--spacing-2);
}
.mr-3 {
  margin-right: var(--spacing-3);
}
.mr-4 {
  margin-right: var(--spacing-4);
}
.mr-5 {
  margin-right: var(--spacing-5);
}
.mr-6 {
  margin-right: var(--spacing-6);
}
.mr-7 {
  margin-right: var(--spacing-7);
}
.mr-8 {
  margin-right: var(--spacing-8);
}

/* Debugging utils */
.DEBUG-R {
  border: 1px solid red;
}

.DEBUG-G {
  border: 1px solid green;
}

.DEBUG-O {
  border: 1px solid orange;
}

.HIDE-DEBUG .DEBUG-G,
.HIDE-DEBUG .DEBUG-O,
.HIDE-DEBUG .DEBUG-R {
  border: none;
}
